.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  border: 4px solid #cf9d7c;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;

  padding-bottom: 10px;
}

.headerTitle {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.65;
}

.nothing {
  padding-top: 15px;
  font-size: 20px;
}

.searchTodo {
  padding-top: 0;
  padding-left: 10px;
  width: 60%;
  height: 55px;
  border-radius: 2px;
  border: 2px solid #cf9d7c;
  outline: none;
  background-color: #162127;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  display: flex;
}

.find {
  font-weight: 200;
  font-size: 20px;
  width: 20%;
  border: 0;
  outline: none;
  color: #162127;
  background-color: #cf9d7c;
  cursor: pointer;
  transition: all 0.4s ease;
}

.sort {
  font-weight: 200;
  font-size: 20px;
  width: 20%;
  border: 0;
  outline: none;
  color: #162127;
  background-color: #cf9d7c;
  cursor: pointer;
  border-left: 2px solid #162127;
  transition: all 0.4s ease;
}

.sort:hover,
.find:hover {
  color: #cf9d7c;
  background-color: #162127;
}

.todoItem {
  padding: 5px;
  border: 1px solid #cf9d7c;
  display: flex;
  justify-content: space-between;
  margin: 15px;
  min-width: 425px;
}

.deleteDone {
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.deleteDoneButton {
  height: 50%;
  font-size: 22px;
  background-color: #162127;
  border: 1px solid #cf9d7c;
  padding: 3px;
  transition: all 0.3s ease;
}

.deleteDoneButton:hover {
  background-color: #cf9d7c;
  border: 1px solid #162127;
  color: #162127;
}

.description {
  max-width: 800px;
}

.line {
  opacity: 0.5;
  text-decoration: line-through;
}
